<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>

    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- styles -->
    <link rel="stylesheet" href="/styles/form-styles.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-order.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- JQuery -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
    <script type="text/javascript" src="/scripts/adminOrders.js"></script>
  </head>
  <body>
    <%- include('partials/_admin_navbar') %>

    <main>
      <h1>All Items on The Menu</h1>

      <table>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Preparation Time</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <% menuItems.map(item=>{%>

        <tr>
          <td><img src="<%=item.photo_url %>" alt="" /></td>
          <td><%=item.name%></td>
          <td id="description"><%=item.description %></td>
          <td>$<%= (item.price / 100).toFixed(2)%></td>
          <td><%= item.preparation_time %></td>

          <td>
            <button id="edit">Edit</button>
          </td>

          <td>
            <form action="/orders/" method="GET">
              <button>Delete</button>
            </form>
          </td>
        </tr>

        <%})%>
      </table>
      <!-- create new menu item form -->
      <%- include('partials/_create_item_form') %>
    </main>
  </body>
</html>
