<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>

    <!-- styles -->
    <link rel="stylesheet" href="/styles/admin-navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin-order.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  </head>
  <body>
    <%- include('partials/_admin_navbar') %>
    <main>
      <h1>Admin Order Dashboard</h1>

      <table>
        <tr>
          <th>Menu Item</th>
          <th>Customer Name</th>
          <th>Phone Number</th>
          <th>Created at</th>
          <th>Preparation Time</th>
          <th>Status</th>
          <th>Mark As Completed</th>
        </tr>

        <% menuItems.map(item=>{%>

        <tr>
          <td><%=item.menu_item%></td>
          <td><%=item.customer_name %></td>
          <td><%= item.phone_number %></td>
          <td><%=item.created_at %></td>
          <td><%= item.preparation_time %></td>
          <td><%= item.status %></td>
          <td>
            <form action="/orders/" method="GET">
              <button>Completed</button>
            </form>
          </td>
        </tr>

        <%})%>
      </table>
    </main>
  </body>
</html>
