<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodskip | My Orders</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/user-orders.css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/flash.js"></script>
  </head>
  <body>
    <%- include('partials/_nav') %>
    <section class="my-orders">
      <h2>My Orders</h2>
      <table class="customer-orders">
        <thead>
          <tr>
            <th>Order id</th>
            <th>Date</th>
            <th>Status</th>
            <th>Waiting time</th>
            <th>Total price</th>
            <th class="text-center">Total menu items</th>
          </tr>
        </thead>
        <tbody>
          <%for (order of orders) { %>
          <tr>
            <td><%= order.order_nr %></td>
            <td><%= order.time_ordered.toLocaleDateString() %></td>
            <% if (order.status === "active") { %>
            <td style="color: blue"><%= order.status %></td>
            <% } else if (order.status === "ready for pick up") { %>
            <td style="color: rgb(0, 119, 0)"><%= order.status %></td>
            <% } else if (order.status === "completed") { %>
            <td style="color: rgb(73, 80, 73)"><%= order.status %></td>
            <% } else { %>
            <td style="color: darkred"><%= order.status %></td>
            <% } %> <% if (order.waiting_time > 100) { %>
            <td>1h 50min</td>
            <% } else { %>
            <td>
              <%=Math.floor( order.waiting_time / 60 )%>h <%=order.waiting_time
              - 60 * Math.floor(order.waiting_time / 60) %>min
            </td>
            <% } %>
            <td>$<%= (order.total_price / 100).toFixed(2)%></td>
            <td class="text-center"><%= order.ordered_dishes.length %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
    <%- include('partials/_footer') %>
  </body>
</html>
